@using Lamtip
@using Sail.Web
@model LayoutBase

<div class="zqui-header">
    <div class="zqui-wrap">
        <div class="zqui-logo">
            @(ViewData["SiteName"])

            @*<a><img src="~/Content/images/logo.png" /></a>*@
        </div>
        <ul class="zqui-header-menu">
            @*@if (isHasMsg)
                {
                    <li class="zqui-header-menu__item zqui-dropdown zqui-dropdown_arrow">
                        <a href="/Views/Message/Message.cshtml" class="zqui-dropdown__toggle messageCount">
                            <i class="icon icon-bell"></i>
                        </a>
                    </li>
                }*@
            <li class="zqui-header-menu__item zqui-dropdown zqui-dropdown_arrow" style="display:none">
                <a class="zqui-dropdown__toggle">
                    <i class="icon icon-bell"></i>
                    <span class="zqui-badge zqui-badge_primary">
                    </span>
                </a>
            </li>
            <li class="zqui-header-menu__item zqui-dropdown zqui-dropdown-user zqui-dropdown_arrow">
                <a class="zqui-dropdown__toggle">
                    <span class="username">@(Model.User?.UserName)</span>
                    @if (!string.IsNullOrEmpty(ViewData["UserIcon"].ToString()))
                    {
                        <img src="@(ViewData["UserIcon"])" />
                    }

                </a>
                <ul class="zqui-dropdown__menu">

                    <li class="zqui-dropdown__item" id="btnChangePwd">
                        <a>修改密码</a>
                    </li>
                    <li class="zqui-dropdown__item" id="btnLogout">
                        <a>退出登录</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
        $(function () {

            var userApi = new Sail.ApiHelper("@Model.ApiName");
            function toLogin() {
                window.location.href = '@(Model.LoginUrl)';
             }

            $("#btnLogout").click(function () {
                $.post(userApi.GetApi("logout"));
                toLogin();
            });

            var passwordModal = $.CreateModal("changePwd",
                {
                    title: "修改密码",
                    tmplName: "ChangePassword",
                    okEvent: function (modal) {
                        if (modal.modal.CheckValidation()) {
                            $.post(userApi.GetApi("changePwd"), { "": JSON.stringify(modal.modal.GetJson()) })
                                .done(function (data) {
                                    ShowMessage(data);
                                    if (data.IsSuccess) toLogin();
                                    modal.$ok.prop("disabled", false);
                                }
                                );
                        }
                    },
                });
            $("#btnChangePwd").on("click", function () {
                passwordModal.modal.ResetForm();
                passwordModal.Show();
            });

            //$.get("/api/admin/UnSafePassword")
            //    .done(function (res) {
            //        if (res.Data) {
            //            MsgBox.Info("请即时修改用户密码");
            //            passwordModal.Show();
            //        }
            //    });
        });
</script>